.container{
  max-width: 1200px;
  margin:auto;
}

h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px auto 80px;
}
.checkout-section h2 {
  margin-bottom: 28px;
}  

.checkout-section .checkout-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.checkout-section .checkout-table-container .checkout-table .checkout-table-row .checkout-table-row-left .checkout-item-details {
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}

.checkout-section .checkout-table-container .checkout-table .checkout-table-row .checkout-table-row-left {
  /* background-color: black; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkout-section .checkout-table-container .checkout-table .checkout-table-row .checkout-table-row-left img{
  margin-right: 2rem; 
  
}

.checkout-section .checkout-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.checkout-section .checkout-table-row .checkout-table-row-left,
.checkout-section .checkout-table-row .checkout-table-row-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-section .checkout-table-row .checkout-table-row-left {
  width: 75%;
}

.checkout-section .checkout-table-row .checkout-table-img {
  max-height: 60px;
}

.checkout-section .checkout-table-row .checkout-table-description {
  color: #919191;
}

.checkout-section .checkout-table-row .checkout-table-price {
  padding-top: 6px;
}

.checkout-section .checkout-table-row .checkout-table-quantity {
  border: 1px solid #919191;
  padding: 4px 12px;
  margin-right: 5px;
}

.checkout-section .checkout-totals {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #919191;
  padding: 18px 0;
  line-height: 2;
}

.checkout-section .checkout-totals .checkout-totals-right {
  text-align: right;
}

.checkout-section .checkout-totals .checkout-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2.2;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}
form .half-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

form button[type=submit] {
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.6;
}
