
a{
    color: black;
    text-decoration: none;
}

li:hover{
    color:red;

}
.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family:Raleway;
    margin: 0px;
}
.spacer{
    width: 1.5rem;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: url(images/triangles.jpg) no-repeat center center fixed;
    color: whitesmoke;
    background-size: cover;
    padding: 2rem 4rem;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-top__links{
    display: flex;
}

.header-top__links--text{
    margin-right: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.header-top__links--text:hover{
    font-size: 0.95rem;
    transition: all 0.3s ease;
}


.header-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    
}

.header-contents__left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-contents__left h1{
    margin-bottom: 1rem;
}

.header-contents__left--button{
    display: flex;
    margin-top: 0.5rem;
}
.header-contents__left--button.view{
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.header-contents__left--button.view:hover{
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 4px;
    border: 1px solid white;
    color: #212121;
    cursor: pointer;
}
.header-contents__right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.header-contents__right img{
    border-radius: 16px;
    width: 80%;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;  
}
.main-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 8rem;
}

.main-top__grid{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 1rem;
}

.main-top__grid.item p{
    margin: 0px;
}

.main-top__grid.item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.main-top__grid.item img{
    width: 20rem;
    height: 15rem;
    border-radius: 4px;
    border: 1px solid gray;
}

@media screen and (max-width:700px) {
    .main-top__grid{
        grid-template-columns: repeat(3,auto);
    }
}
@media screen and (max-width:400px) {
    .main-top__grid{
        grid-template-columns: repeat(2,auto);
    }
}

.main-top__grid--button{
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    border: 1px solid #212121;
    cursor: pointer;
    color: #212121;
    
}

.main-top__grid--button:hover{
    background-color: #212121;
    color: whitesmoke;
}


.main-bottom{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #f1eeee;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    font-weight: bold;
    color:whitesmoke;
    background-color: #535353;
}

.footer-right{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
}

/* shop page section */

.sidebar h3 {
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .sidebar ul {
    line-height: 2;
    margin-bottom: 20px;
  }
  
  .products-section {
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin: 80px auto 80px;
    }
  
    .products-section .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 60px 30px;
    }
    .p-i-container-img{
        height:15rem;
        width:20rem;
        position: relative;
        display: flex ;
    }
    .p-i-container-des{
        padding: 0.5rem 0.7rem;
        box-sizing: border-box;
        opacity: 0;
        width: 100%;
        height: 100%;
        color: white;
        background-color: black;
        position: absolute;
        z-index: 9999;
    }
    .p-i-container-des:hover{
        opacity: 1;
        background-color: rgba(10, 10, 10, 0.603);
        transition: all 0.1s ease;
        position: absolute;
    }
    .products-section .products .product img {
      height:15rem;
      width:20rem;
      opacity: 1;
      transition: opacity 0.1s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #979797;
      position:relative;
    }
    .products-section .products .product img:hover{
        height:15rem;
        width:20rem;
        /* opacity: 1; */
    }
    
    .product-price {
      color: rgb(110, 110, 110);
      text-align:center;
      font-size: 1.15rem !important;
      font-weight: 400 !important;
      margin: 0.2rem 0rem;
    }
    .product-name{
        color:black;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0.5rem 0rem;
        /* text-align:center; */
    }
    .product-cart-button{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem 0.3rem;
        width: 30%;
        border: 1px solid #24A19C;
        border-radius: 4px;
        color: #24A19C;
        background-color: transparent;
        text-align: center;
        margin-right: 0.3rem;

    }
    .product-cart-added{
        cursor: pointer;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        color: whitesmoke;
        width: 30%;
        background-color: #CA8A8B;
        text-align: center;
        padding: 0.3rem 0.3rem;
        /* font-size: 0.9rem; */
    }
    .product-cart-button:hover{
        background-color: #24A19C;
        color: white;
        border: 1px solid #24A19C;
        border-radius: 4px;
        transition: all 0.3s ease;
        
    }
    .product-cart-button.remove{
        border: 1px solid #FF5959;
        color: white;
        background-color: #FF5959;

    }
    .product-cart-button.remove:hover{
        background-color: #D9534F;
        transition: all 0.3s ease;
        
    }
    .product-quantity{
        color:gray;
    }
    /* .product-name:hover{
        font-weight: bold;
        color:red;
    } */
    .products-section .sidebar a:hover{
        font-weight: bold;
        color:black;
        transition: all 0.4s ease;
        font-size: 1.5rem;
    }
    .products-section .sidebar h3:hover{
        font-weight: bold;
        color:black;
        transition: all 0.4s ease;
        font-size: 1.5rem;
    }
    .button2{
        border:1px solid #FE7E6D;
        padding:.7rem 1.5rem;
        align:center;
        text-align:center;
        margin:1rem;
        border-radius: 1rem;
    }
    .button2:hover{
        background-color: #F0E9D2;
    }
    
    
    
    
   
    