
.main-login {
    background-color: rgba(172, 165, 165, 0.589);
    width: 600px;
    height: 650px;
    margin: 7em auto;
    border-radius: 1.5em;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.sign_in-text {
    padding-top: 40px;
    color: black;
    font-weight: bold;
    font-size: 23px;
}

.username {
width: 90%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgb(201, 198, 198);
padding: 10px 20px;
border: none;
border-radius: 2px;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.404);
margin-bottom: 50px;
text-align: center;
margin-bottom: 27px;
align-self: center;
}
.pass {
width: 90%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgb(201, 198, 198);
padding: 10px 20px;
border: none;
border-radius: 2px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.404);
margin-bottom: 50px;
text-align: center;
margin-bottom: 0px;
align-self: center;
}
.pass2 {
    width: 90%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgb(201, 198, 198);
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.404);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 0px;
    align-self: center;
    }

.login_form {
    padding-top: 40px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch; 
    width: 100%;
}
.submit-button{
    align-self: center;
    margin-bottom: 2rem;
}
.submit {
    margin-top: 2rem;
    border-radius: 2px;
    border: 1px solid #212121;
    cursor: pointer;
    color: #212121;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    align-self: center;
    width: 70%;
    border-radius: 20px;
}
.submit:hover{
    background-color: #212121;
    color: whitesmoke;
}

.forgot {
    padding-top: 5px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    text-decoration: none
}
.spacer{
    height:2rem;
}
.error_field{
    font-weight: bold;
    text-decoration: red;
}